

.navbar{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: none;
    height: 80px;
    background-color: rgb(25,25,112);
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 1px 8px black;
}
.boxNavbar{
    display: flex;
    align-items: center;
    margin-left: 50px;
    color: blue;
}
.linkNavbar{
    margin-left: 20px !important;
    font-size: 1.4em;
    color: white !important;
    text-decoration: none;
}
.textFieldColor{
    color: white;
}
.wrapper-class {
    height: 300px;
    margin: 10px 50px 50px 50px;
    padding: 1rem;
    border: 1px solid #ccc;

}
.editor-class {
    background-color:lightgray;
    height: 70% !important;
    padding: 1rem;
    border: 1px solid #ccc;
}
.toolbar-class {
    border: 1px solid #ccc;
}
